 				</div>
 			</div>
 		</div>
 </div>
<div class="footer">
	Polca Festi App </A>&copy; <span id="year"></span> - Developped &amp; Maintained by V. Perlerin
</div>
<ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
</ul>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/js/main.min.js"></script>
 
     
  </body>
</html>
