<% include ./shared/header.ejs %>

 		<div class="vertical-center">
            <div class="col-xs-12">
                <div id="logo"><a href="/"><img src="img/polca.png" class="img-responsive mauto" alt="POLCA"></a></div>
                
                <div id="page" style="display: none;">

					<div class="alert alert-danger"><strong><span class="fa fa-warning"></span> Erreur</strong><br/><%= message %></div>
 
 				</div>
 			</div<
 		</div>

<% include ./shared/footer.ejs %>