<% include ./shared/header.ejs %>
          
<div id="main-buttons" class="row text-center dmt">
    <div class="col-but">
        <a href="/export_newsletter">
            <span class="fa fa-file-excel-o"></span> Export Newsletter Data
        </a>
     </div>
     <div class="col-but">
        <a href="/export_festi" >
            <span class="fa fa-file-excel-o"></span> Export Concours festival Data
        </a>    
     </div>
     <div class="col-but">
        <a href="/export_bouchon">
           <span class="fa fa-file-excel-o"></span> Export Concours bouchons Data
        </a>    
     </div>
 </div>
           
     
<% include ./shared/footer.ejs %>