<% include ./shared/header.ejs %>

          
                        <div id="main-buttons" class="row text-center dmt">
                            <div class="col-but">
                                <a href="/newsletter" class="jump">
                                    Newsletter Mensuelle
                                </a>
                                <span>Laissez-nous vos coordonnées<br/>pour recevoir <strong>nos infos</strong></span>
                            </div>
                             <div class="col-but">
                                <a href="/festi" class="jump">
                                    Concours festival
                                </a>    
                                <span>Gagnez <strong>votre pass</strong> pour le prochain festival en Champagne-Ardenne</span>
                            </div>
                             <div class="col-but">
                                <a href="/bouchons" class="jump">
                                    Concours bouchons
                                </a>    
                                <span>Gagnez <strong>une paire de bouchons silicone</strong> spécial Festival en testant vos connaissances sur les risques auditifs</span>
                            </div>
                         </div>
             
           
     
<% include ./shared/footer.ejs %>